.DS_Store
/dist/
node_modules/
yarn-error.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Keep these files in git
!/env/.env.example
_file/data/categories.908e81be.json
_file/data/categorySeries.2765c573.json
_file/data/categorySeries.e3b0c442.json
_file/data/indicators.8a0efd32.json
_file/data/indicators.9f4e1768.json
_file/data/indicators.e3b0c442.json
_npm/@observablehq/plot@0.6.17/1f2bbaab.js
_npm/@observablehq/plot@0.6.17/d761ef9b.js
_npm/binary-search-bounds@2.0.5/1ee6c50d.js
_npm/binary-search-bounds@2.0.5/cbf6ba23.js
_npm/d3-array@3.2.4/37839b6a.js
_npm/d3-array@3.2.4/e93ca09f.js
_npm/d3-axis@3.0.0/0f2de24d.js
_npm/d3-axis@3.0.0/bd0afa17.js
_npm/d3-brush@3.0.0/65eb105b.js
_npm/d3-brush@3.0.0/6495590f.js
_npm/d3-chord@3.0.1/7ef8fb2e.js
_npm/d3-chord@3.0.1/84d7b8e9.js
_npm/d3-color@3.1.0/2c0cdfa2.js
_npm/d3-color@3.1.0/aeb57b94.js
_npm/d3-contour@4.0.2/1d2aed74.js
_npm/d3-contour@4.0.2/d496a3b3.js
_npm/d3-delaunay@6.0.4/00c41b5d.js
_npm/d3-delaunay@6.0.4/5ced1d52.js
_npm/d3-dispatch@3.0.1/9ba9c7f3.js
_npm/d3-dispatch@3.0.1/b5f7cdc6.js
_npm/d3-drag@3.0.0/4202580c.js
_npm/d3-drag@3.0.0/ef06b1ff.js
_npm/d3-dsv@3.0.1/9cffc2bd.js
_npm/d3-dsv@3.0.1/407f7a1f.js
_npm/d3-ease@3.0.1/6f15f633.js
_npm/d3-ease@3.0.1/cdd7e898.js
_npm/d3-fetch@3.0.1/35880c2a.js
_npm/d3-fetch@3.0.1/b4e2ad9a.js
_npm/d3-force@3.0.0/5e804d15.js
_npm/d3-force@3.0.0/60bb70b3.js
_npm/d3-format@3.1.0/33fb7288.js
_npm/d3-format@3.1.0/86074ef6.js
_npm/d3-geo@3.1.1/5e427f4b.js
_npm/d3-geo@3.1.1/40599fb3.js
_npm/d3-hierarchy@3.1.2/e49e792c.js
_npm/d3-hierarchy@3.1.2/f1db2593.js
_npm/d3-interpolate@3.0.1/8d1e5425.js
_npm/d3-interpolate@3.0.1/034b7bcb.js
_npm/d3-path@3.1.0/4bb53638.js
_npm/d3-path@3.1.0/20d3f133.js
_npm/d3-polygon@3.0.1/7553081f.js
_npm/d3-polygon@3.0.1/bbafde58.js
_npm/d3-quadtree@3.0.1/0dfd751c.js
_npm/d3-quadtree@3.0.1/aa5b35a8.js
_npm/d3-random@3.0.1/3c90ee06.js
_npm/d3-random@3.0.1/32c7fec2.js
_npm/d3-scale-chromatic@3.1.0/b6952b03.js
_npm/d3-scale-chromatic@3.1.0/ba24c2e7.js
_npm/d3-scale@4.0.2/2bb2815a.js
_npm/d3-scale@4.0.2/843b6a76.js
_npm/d3-selection@3.0.0/4d94e5b7.js
_npm/d3-selection@3.0.0/a4e530fb.js
_npm/d3-shape@3.2.0/6d3a6726.js
_npm/d3-shape@3.2.0/be692bd9.js
_npm/d3-time-format@4.1.0/07c9626f.js
_npm/d3-time-format@4.1.0/28d1ef76.js
_npm/d3-time@3.1.0/3a9ac1c1.js
_npm/d3-time@3.1.0/9f03c579.js
_npm/d3-timer@3.0.1/b58a267d.js
_npm/d3-timer@3.0.1/f31b5398.js
_npm/d3-transition@3.0.1/0c259fbf.js
_npm/d3-transition@3.0.1/004da2ac.js
_npm/d3-zoom@3.0.0/b5786b3f.js
_npm/d3-zoom@3.0.0/da4a6ccc.js
_npm/d3@7.9.0/159192fa.js
_npm/d3@7.9.0/e780feca.js
_npm/delaunator@5.0.1/02d43215.js
_npm/delaunator@5.0.1/e67acb27.js
_npm/htl@0.3.1/063eb405.js
_npm/htl@0.3.1/72f4716c.js
_npm/internmap@2.0.3/5eed35fd.js
_npm/internmap@2.0.3/e08981d9.js
_npm/interval-tree-1d@1.0.4/53fe8176.js
_npm/interval-tree-1d@1.0.4/a62ae5ce.js
_npm/isoformat@0.2.1/18cbf477.js
_npm/isoformat@0.2.1/c68fbd73.js
_npm/robust-predicates@3.0.2/8ac9039b.js
_npm/robust-predicates@3.0.2/aa00730b.js
